
/* style bubbles */
.bubble, .bubble-typing {
	color: #212121;
	background: rgba(255, 255, 255, 0.84);
	padding: 4px 16px;
	border-radius: 5px 15px 15px 15px;
	font-weight: 400;
	text-transform: none;
	text-align: left;
	font-size: 16px;
	letter-spacing: .5px;
	margin: 0 0 2px 0;
	max-width: 65%;
	float: none;
	clear: both;
	line-height: 1.5em;
	transform-origin: left top;
	transition: all 350ms;
}
.bubble .bubble-content {
	transition: opacity 150ms;
}
.bubble:not(.say) .bubble-content {
	opacity: 0;
}
.bubble-typing.imagine,
.bubble.imagine {
	visibility: hidden;
	transform: scale(0);
	margin: 0;
	height: 0;
	padding: 0;
	transition: all 350ms, height 350ms 1s, padding 350ms 1s;
}

/* removed color labels .pink, .black etc. */
