/* setup container styles */
.bubble-container {
	background: linear-gradient(145deg, rgb(227, 232, 239), rgb(244, 248, 251));
	padding: 10px;
	height: 400px;
	max-width: 750px;
	width: calc(100% - 2em);
	margin: 0 auto;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
}

/* optional page styles */
h1 {
	text-align: center;
	font-weight: 300;
	font-size: 4em;
	margin: .5em auto 0.15em;
}
body {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
}