/* style "loading" or "typing" stae */

.bubble-container {
	background: #eee;
	padding: 10px;
	border-radius: 3px;
	height: 200px;
	max-width: 750px;
	width: calc(100% - 2em);
	margin: 0 auto;
	overflow: scroll;
}