/* style "loading" or "typing" stae */

.bubble-typing {
	width: 40px;
	padding: 14px 16px;
	height: 8px;
}
.bubble-typing.imagine,
.bubble.imagine {
	visibility: hidden;
	transform: scale(0);
	margin: 0;
	
	height: 0;
	padding: 0;
	transition: all 350ms, height 350ms 1s, padding 350ms 1s;
}
.bubble.imagine {
	height: 0;
	padding: 0;
}

.dot {
	background-color: rgb(255,255,255);
	float: left;
	height: 7px;
	margin-left: 4px;
	width: 7px;
	animation-name: bounce_dot;
	animation-duration: 2.24s;
	animation-iteration-count: infinite;
	animation-direction: normal;
	border-radius: 5px;
}
.dot_1 { animation-delay: 0.45s; }
.dot_2 { animation-delay: 1.05s; }
.dot_3 { animation-delay: 1.35s; }
@keyframes bounce_dot {
	0% {}
	50% { background-color:rgb(0,0,0); }
	100% {}
}
